<h1><%= question.title %></h1>
<%- include('_info') %>
<div class="questionBody">



<p><%= question.body %></p>
</div>

<br>



<% if (currentUser){ %>
<div id="userActions" class="action">
  <form action="<%=selectTagsPath %>" method="get">
    <div>
      <input type="submit" name="relate" value="Relacionar con tag">
    </div>
  </form>
  <br>  
  <form action="<%= newReportPath %>" method="get">
    <div>
      <input type="submit" name="report" value="Reportar la pregunta">
    </div>
  </form>
</div>
<% } %>

<% if (currentUserAuthor || currentUserAdmin){ %>
<div id="adminActions" class="action">
  <br>
  <form action="<%= deleteQuestionPath %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <div>
      <input type="submit" name="delete" value="Delete Question" />
    </div>
  </form>
  <br>
  <form action="<%= editQuestionPath %>" method="get">
    <div>
      <input type="submit" name="edit" value="Edit Question" />
    </div>
  </form>
  <br>  
  <form action="<%= newAnswerPath %>" method="get">
    <div>
      <input type="submit" name="new" value="New Answer" />
    </div>
  </form>
</div>
<% } %>

<h2>Tags:<h2>
<h3> Presione para ver las preguntas asociadas a la tag </h3>
<% if (tags.length == 0) { %>
  <h3> No hay tags asociadas a esta pregunta, por el momento</h3>
<% } %>

<ul>
  <% tags.forEach(tag => { %>

    <div class="action" id="tags">
<!--       <form action="<%=deleteTagquestionPathBuilder(tag) %>" method="post"> -->
      <form action="<%= showTagBuilder(tag) %>" method="get">
<!--         <input type="hidden" name="_method" value="delete" />
        <input type="submit" name="unrelate" value="<%= tag.name %>"> -->
        <input type="submit" name="show" value="<%= tag.name%>">
      </form>
    </div>
  <% }) %>
</ul>