<h1><%= question.title %></h1>
<%- include('_info') %>
<h2><%= question.body %><h2>
<br><br>
<h2>La pregunta pertenece a las siguientes tags:<h2>
<% if (tags.length == 0) { %>
  <h3> No hay tags asociadas a esta pregunta, por el momento</h3>
<% } %>

<ul>
  <% tags.forEach(tag => { %>
    <li> <%= tag.name %> </li>
    <form action="<%=deleteTagquestionPathBuilder(tag) %>" method="post">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" name="unrelate" value="Quitar relación con tag">
    </form>
  <% }) %>
</ul>

<% if (currentUser){ %>
<form action="<%=selectTagsPath %>" method="get">
  <input type="submit" name="relate" value="Relacionar con tag">
</form>
<br>
<form action="<%= newReportPath %>" method="get">
  <input type="submit" name="report" value="Reportar la pregunta">
</form>
<% } %>


<% if (currentUserAuthor || currentUserAdmin){ %>
  <br>
  <form action="<%= deleteQuestionPath %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <div>
      <input type="submit" name="delete" value="Delete Question" />
    </div>
  </form>
  <br>
  <form action="<%= editQuestionPath %>" method="get">
    <div>
      <input type="submit" name="edit" value="Edit Question" />
    </div>
  </form>
  <br>
  <form action="<%= newAnswerPath %>" method="get">
    <div>
      <input type="submit" name="new" value="New Answer" />
    </div>
  </form>
<% } %>