<h1>Hello world</h1>
<p>
  App web version
  <%= appVersion %>
</p>

<p>Últimos exámenes añadidos:</p>

<ul>
<% exams.forEach((exam) => { %>
    <li><h3><a href="/exams/<%=exam.id%>"><%=exam.name%></a></h3></li>
    <% const qua = exam.updatedAt %>
    <% var minutes = qua.getMinutes().toString() %>
    <% if (minutes.length == 1) {minutes = "0" + minutes} %>
    <h4>Escrito a las <%= qua.getHours() %>:<%= minutes %> horas el día <%= qua.getDate() %>/<%= qua.getMonth() + 1 %>/<%= qua.getYear() + 1900%> %> </h4>

    
<% }) %>
</ul>
