<h1>Preguntas ordenadas por <%= order %></h1>

<ul>

  <% if (order == 'Nombre') {%>
  <% questions.sort(function(a,b){ %>
  	  <% return -(b.title).localeCompare(a.title)})} %>

  <% if (order == 'Fecha de creación') {%>
  <% questions.sort(function(a,b){ %>
  	  <% return -((b.updatedAt) - (a.updatedAt))})} %>

  <% questions.forEach((question) => { %>
    <li><h3><a href="<%=questionPathBuilder(question)%>"><%=question.title%></a></h3></li>
    <% const qua = question.updatedAt %>
    <% var minutes = qua.getMinutes().toString() %>
    <% if (minutes.length == 1) {minutes = "0" + minutes} %>
	<h4>Escrito a las <%= qua.getHours() %>:<%= minutes %> horas el día <%= qua.getDate() %>/<%= qua.getMonth() + 1 %>/<%= qua.getYear() + 1900 %> </h4>

	<br>
  <% }) %>
  <% if (questions.length == 0) { %>
  	<h3>No tienes ninguna pregunta abierta.</h3>
  <% } %>
</ul>

