<h1>Preguntas de <%= user.name %></h1>

<ul>
  <% questions.forEach((question) => { %>
    <li><h3><a href="<%=questionPathBuilder(question)%>"><%=question.title%></a></h3></li>
    <p><%=question.body%></p>
  <% }) %>
</ul>

<form action="<%= userPath %>" method="get">
  <div>
    <input type="submit" name="show" value="Back To User" />
  </div>
</form>

<br>

<form action="<%= newQuestionPath %>" method="get">
  <div>
    <input type="submit" name="new" value="Create A Question" />
  </div>
</form>