<h1><%= user.name %></h1>
<h1><%= question.title %></h1>
<% const qua = question.updatedAt %>
<h4>Escrito a las <%= qua.getHours() %>:<%= qua.getMinutes() %> horas el día <%= qua.getDate() %>/<%= qua.getMonth() %>/<%= qua.getYear() + 1900 %> </h4>
<p><%= question.body %><p>
  <form action="<%= deleteQuestionPath %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <div>
      <input type="submit" name="delete" value="Delete Question" />
    </div>
  </form>
  <br>
  <form action="<%= editQuestionPath %>" method="get">
    <div>
      <input type="submit" name="edit" value="Edit Question" />
    </div>
  </form>
  <br>
   <%- include('__back') %>
  <br>

