<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>wican</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="/assets/styles.css">
    <% } %>
  </head>

  <body>
  	<header>
      <div id="logo">
        <img src="/assets/logo.png" alt="Logo" />
      </div>
  		<nav>
  		  <a href="<%= usersPath %>">Usuarios</a>
  		  <a href="<%= allQuestionsPath %>">Preguntas</a>
  		</nav>
  		<div id="user-bar">
  			<% if (currentUser) {%>
 	        <span class="name">Hola <%= currentUser.name %></span>
	  		  <form action="<%= destroySessionPath %>" method="post">
	            <input type="hidden" name="_method" value="delete" />
	            <input type="submit" value="Salir" />
	        </form>
<!--           <a href="<%= destroySessionPath %>">Salir</a> -->
          <a href="<%= newQuestionPath %>">Crea una nueva pregunta</a>
<!-- 	  		  <nav>

  			  </nav> -->
	      <% } else {%> 
	        <span class="name">Hola Invitado</span>
	        <a href="<%= newSessionPath %>">Inicia Sesión</a>	      
	      <% } %>
  		</div>
  	</header>
	  <% if (locals.errors) { %>
	    <div class="errors">
	      Necesitas arreglar los siguiente errores:
	      <ul>
	        <% errors.forEach(error => { %>
	          <li><%= error.message %></li>
	        <% }); %>
	      </ul>
	    </div>
	  <% } %>
    <%- body %>
    <script src="/assets/app.js"></script>
  </body>

</html>
