<h1>Usuarios</h1>

<div>
	<%- include('__errors') %>
</div>

<ul>
  <% users.forEach((user) => { %>
    <li>Nombre con link: <a href="<%=userPathBuilder(user)%>"> <%= user.name %> </a> - Contraseña: <%= user.password %> </li> 
  <% }) %>
</ul>

<form action="<%= newUserPath %>" method="get">
<div>
  <input type="submit" name="new" value="Create a new user" />
</div>
<div>