<h1><%= user.name %></h1>
  <form action="<%= deleteUserPath %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <div>
      <input type="submit" name="delete" value="Delete user" />
    </div>
  </form>
  <br>
  <form action="<%= usersPath %>" method="get">
    <div>
      <input type="submit" name="back" value="See all users" />
    </div>
  </form>
 <br>
  <form action="<%= editUserPath %>" method="get">
    <div>
      <input type="submit" name="edit" value="Edit user" />
    </div>
  </form>
 <br>
  <form action="<%= questionsPath %>" method="get">
    <div>
      <input type="submit" name="show" value="View questions" />
    </div>
  </form>
