<h1>Iniciar sesión</h1>
  <% if (locals.notice) { %>
    <div className="notice"><%= notice %></div>
  <% } %>
  <% if (locals.error) { %>
    <div class="error">
      <%= error %>
    </div>
  <% } %>
<div>
  <form id="new_session" action="<%= createSessionPath %>" method="post">
  	<input type="hidden" name="_method" value="put" />
    <div>
      <label for="name">Usuario</label>
      <input type="text" name="name" value="<%= locals.name %>"></input>
    </div>
    <br>
    <div>
      <label for="password">Contraseña</label>
      <input type="text" name="password" value="<%= locals.password %>"></input>
    </div>
    <br>
    <div>
      <input id="new_session_button" type="submit" name="sign-in" value="Iniciar sesión" />
    </div>
    <br>
  </form>
</div>